<div class="container">
    <div class="uk-card uk-card-body" data-cat="{{dataValues.CategoryId}}">
        <h3 class="uk-card-title">{{dataValues.title}}</h3>
        <p>${{dataValues.price}}</p>
        <p>{{dataValues.post}}</p>
    </div>
</div>